@model Tax_Calculator.Models.Helpers
@{
    ViewData["Title"] = "Tax Calculator";
}

@using (Html.BeginForm())
{
    <fieldset style="background-color:white; margin-top:100px;">
        <div style="margin-left:20px;">
            <h1 style="margin-top:10px">The Tax calculations are base on postal codes.</h1>
            <div style="font-size:20px">
                @Html.Label("Enter your Annual Salary") @Html.TextBoxFor(x => x.Annual_salary, new { @type = "number", @min = "0", @step = "0.01" })<br /><br />
                @Html.Label("Enter your Postal Code") @Html.EditorFor(x => x.Postal_code)<br /><br />
            </div>
            <input type="submit" value="Calculate Tax" name="postal_code" style="font-weight:600"/><br /><br />
            <div style="margin-bottom:50px;">
                 <h2 style="color:green">
                @Html.Label("")
                @Html.DisplayFor(x => x.Tax_result_message)
            </h2>
            <h2 style="color:red">
                @Html.Label("")
                @Html.DisplayFor(x => x.Error_message)
            </h2>
            </div>
        </div>
    </fieldset>
}
